Repository apache/flink-connector-elasticsearch, pull requests merged in 2022-09, with the labels that each got.

#29 [hotfix] Move away from deprecated RestHighLevelClient#bulkAsync
  flink-connector-elasticsearch6/src/main/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch6SinkBuilder.java
Labels: component=Connectors/Elasticsearch

#33 [FLINK-29303][tests] Add DockerImageVersions
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriterITCase.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/test/DockerImageVersions.java
  flink-connector-elasticsearch-e2e-tests/flink-connector-elasticsearch6-e2e-tests/pom.xml
  flink-connector-elasticsearch-e2e-tests/flink-connector-elasticsearch6-e2e-tests/src/test/java/org/apache/flink/streaming/tests/Elasticsearch6SinkE2ECase.java
  flink-connector-elasticsearch-e2e-tests/flink-connector-elasticsearch7-e2e-tests/pom.xml
  flink-connector-elasticsearch-e2e-tests/flink-connector-elasticsearch7-e2e-tests/src/test/java/org/apache/flink/streaming/tests/Elasticsearch7SinkE2ECase.java
  flink-connector-elasticsearch6/src/test/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch6SinkITCase.java
  flink-connector-elasticsearch6/src/test/java/org/apache/flink/connector/elasticsearch/table/Elasticsearch6DynamicSinkITCase.java
  flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkITCase.java
  flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch6/ElasticsearchSinkITCase.java
  flink-connector-elasticsearch7/src/test/java/org/apache/flink/connector/elasticsearch/sink/Elasticsearch7SinkITCase.java
  flink-connector-elasticsearch7/src/test/java/org/apache/flink/connector/elasticsearch/table/Elasticsearch7DynamicSinkITCase.java
  flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkITCase.java
  flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch7/ElasticsearchSinkITCase.java
Labels: component=Connectors/Elasticsearch, component=BuildSystem

#34 [FLINK-29304][ci] Set timeout
  .github/workflows/ci.yml
Labels: component=BuildSystem

#35 [hotfix] Deduplicate TestUtils
  flink-connector-elasticsearch-e2e-tests/flink-connector-elasticsearch-e2e-tests-common/src/main/java/org/apache/flink/tests/util/TestUtils.java
  flink-connector-elasticsearch-e2e-tests/flink-connector-elasticsearch6-e2e-tests/src/test/java/org/apache/flink/streaming/tests/Elasticsearch6SinkE2ECase.java
  flink-connector-elasticsearch-e2e-tests/flink-connector-elasticsearch7-e2e-tests/src/test/java/org/apache/flink/streaming/tests/Elasticsearch7SinkE2ECase.java
Labels: component=Connectors/Elasticsearch

#36 [hotfix] Move binary download into separate step
  .github/workflows/ci.yml
Labels: component=BuildSystem

#38 [FLINK-29316] Test packaging
  flink-sql-connector-elasticsearch6/pom.xml
  flink-sql-connector-elasticsearch6/src/test/java/org/apache/flink/connectors/elasticsearch/PackagingITCase.java
  flink-sql-connector-elasticsearch7/pom.xml
  flink-sql-connector-elasticsearch7/src/test/java/org/apache/flink/connectors/elasticsearch/PackagingITCase.java
Labels: component=Connectors/Elasticsearch
