Repository apache/flink-connector-elasticsearch, pull requests merged in 2022-05, with the labels that each got.

#17 [FLINK-27475][test] Remove hamcrest and JUnit assertions
  flink-connector-elasticsearch-base/archunit-violations/325d89d0-9c19-495f-86df-7d609b6d63dd
  flink-connector-elasticsearch-base/archunit-violations/stored.rules
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBaseITCase.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBaseTest.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchWriterITCase.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/sink/TestClientBase.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkBaseITCase.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/ElasticsearchDynamicSinkFactoryBaseTest.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/IndexGeneratorTest.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/connector/elasticsearch/table/KeyExtractorTest.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/KeyExtractorTest.java
  flink-connector-elasticsearch-base/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/testutils/ElasticsearchResource.java
  flink-connector-elasticsearch6/archunit-violations/a2f3489b-bdd7-430b-8723-6ac3502c173e
  flink-connector-elasticsearch6/archunit-violations/stored.rules
  flink-connector-elasticsearch6/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch6DynamicSinkITCase.java
  flink-connector-elasticsearch7/archunit-violations/af589e22-ad7e-411d-b007-e09c72c65ef6
  flink-connector-elasticsearch7/archunit-violations/c7439eec-2d69-4df1-bb07-e6ec877e1b26
  flink-connector-elasticsearch7/archunit-violations/stored.rules
  flink-connector-elasticsearch7/src/test/java/org/apache/flink/streaming/connectors/elasticsearch/table/Elasticsearch7DynamicSinkITCase.java
  pom.xml
Labels: component=Connectors/Elasticsearch

#16 [hotfix] Re-introduce convergence check
  .github/workflows/ci.yml
Labels: component=BuildSystem

#15 [FLINK-27475][Build] Clean-up unused Maven dependencies, plugins and profiles
  flink-connector-elasticsearch-base/pom.xml
  flink-connector-elasticsearch6/pom.xml
  flink-connector-elasticsearch7/pom.xml
  flink-sql-connector-elasticsearch6/src/main/resources/META-INF/NOTICE
  flink-sql-connector-elasticsearch7/src/main/resources/META-INF/NOTICE
  pom.xml
  tools/maven/scalastyle-config.xml
  tools/maven/spotbugs-exclude.xml
Labels: component=Connectors/Elasticsearch, component=BuildSystem

#19 [hotfix] Fix typo
  flink-connector-elasticsearch-base/src/main/java/org/apache/flink/connector/elasticsearch/sink/ElasticsearchSinkBuilderBase.java
Labels: component=Connectors/Elasticsearch

#20 [FLINK-27757][Connector][Elasticsearch] Elasticsearch connector should not use `flink-table-planner` but `flink-table-planner-loader`
  flink-connector-elasticsearch6/pom.xml
  flink-connector-elasticsearch7/pom.xml
Labels: component=Connectors/Elasticsearch
