Repository apache/flink-connector-elasticsearch, pull requests merged in 2023-06, with the labels that each got.

#67 [hotfix] Bump flink version to 1.16.2
  .github/workflows/push_pr.yml
  pom.xml
Labels: component=BuildSystem

#66 [hotfix] Bump flink version to 1.17.1
  .github/workflows/push_pr.yml
  pom.xml
Labels: component=BuildSystem

#70 [hotfix] Allow unmatched tests
  flink-connector-elasticsearch-base/src/test/resources/archunit.properties
  flink-connector-elasticsearch6/src/test/resources/archunit.properties
  flink-connector-elasticsearch7/src/test/resources/archunit.properties
Labels: component=Connectors/Elasticsearch, component=BuildSystem

#71 [FLINK-28347][Test infrastructure] Upgrade testcontainers to 1.18.3
  flink-connector-elasticsearch-e2e-tests/pom.xml
  pom.xml
Labels: component=Connectors/Elasticsearch
